{% extends "base.html" %}

{% block title %}Edit Supplier - {{ supplier.name }}{% endblock %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_suppliers') }}">Suppliers</a></li>
          <li class="breadcrumb-item active">Supplier-{{ supplier.id }}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container mt-4">
          {% for category, message in messages %}
            {% if 'supplier' in category %}
              <div class="alert alert-{{ category.split('-')[0] }} alert-dismissible fade show profile-flash" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{ url_for('static', filename='images/product_uploads/' + supplier.photo) }}" alt="Profile" class="rounded-circle">
              <h2>{{ supplier.name }}</h2>
              <h3>{{ supplier.role.capitalize() }}</h3>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>

              </ul>
              <div class="tab-content pt-2">
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
        
                  <h5 class="card-title">Profile Details</h5>
        
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{ supplier.name }} {{ supplier.lastname }}</div>
                  </div>
        
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Role</div>
                    <div class="col-lg-9 col-md-8">{{ supplier.role.capitalize() }}</div>
                  </div>
        
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Location</div>
                    <div class="col-lg-9 col-md-8">{{ supplier.location }}</div>
                  </div>
        
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Gelocation</div>
                    <div class="col-lg-9 col-md-8">
                        {% if supplier.latitude and supplier.longitude %}
                            {{ supplier.latitude }}, {{ supplier.longitude }}
                        {% else %}
                            Not Available.
                        {% endif %}
                    </div>
                  </div>
        
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{ supplier.telephone }}</div>
                  </div>
        
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ supplier.email }}</div>
                  </div>
                </div>
                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="POST" action="{{ url_for('admin.edit_supplier', id=supplier.id) }}" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="user_id" value="{{ supplier.id }}">
                    <input type="hidden" name="nin" value="{{ supplier.nin }}">
                    <div class="mb-3">
                        <label for="add-image" class="form-label">Image</label>
                        <input type="file" class="form-control" id="add-image" name="image">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ supplier.name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="name" name="lname" value="{{ supplier.lastname }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="telephone" class="form-label">Telephone</label>
                        <input type="text" class="form-control" id="telephone" name="telephone" value="{{ supplier.telephone }}" required>
                    </div>
            
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender</label>
                        <select name="gender" class="form-control" id="gender" required>
                          <option value="Male" {% if supplier.gender == 'Male' %}selected{% endif %}>Male</option>
                          <option value="Female" {% if supplier.gender == 'Female' %}selected{% endif %}>Female</option>
                        </select>
                      </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" value="{{ supplier.email }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" name="location" value="{{ supplier.location }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="contact_person" class="form-label">Contact Person</label>
                        <input type="text" class="form-control" id="contact_person" name="contact_person" value="{{ supplier.contact_person }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password (leave blank to keep current password)</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Update Supplier</button>
                </form>
                </div>

                

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Settings Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade" checked>
                          <label class="form-check-label" for="changesMade">
                            Changes made to your account
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="newProducts" checked>
                          <label class="form-check-label" for="newProducts">
                            Information on new products and services
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="proOffers">
                          <label class="form-check-label" for="proOffers">
                            Marketing and promo offers
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                          <label class="form-check-label" for="securityNotify">
                            Security alerts
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End settings Form -->

                  <br>
                  <!-- Deleting user -->
                <div class="mb-3">
                    <form method="POST" action="{{ url_for('admin.delete_supplier', id=supplier.id) }}" onsubmit="return confirm('Are you sure you want to delete this user?');">
                      <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                      <div class="text-center">
                        <button type="submit" class="btn btn-danger">Delete User</button>
                      </div>
                    </form><!-- End Deletion Form -->
                  </div>
                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
    
                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}


