{% extends 'base.html'%}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{ url_for('static', filename='img/profile-img.jpg') }}" alt="Profile" class="rounded-circle">
              <h2>{{ user.name }}</h2>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">{{ user.about }}</p>
        
                  <h5 class="card-title">Profile Details</h5>
        
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{ user.name }}</div>
                  </div>
        
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Job</div>
                    <div class="col-lg-9 col-md-8">{{ user.job }}</div>
                  </div>
        
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Location</div>
                    <div class="col-lg-9 col-md-8">{{ user.location }}</div>
                  </div>
        
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">{{ user.address }}</div>
                  </div>
        
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{ user.telephone }}</div>
                  </div>
        
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                  </div>
                </div>
                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                <form method="POST" action="{{ url_for('admin.edit_profile', user_id=user.id) }}" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                        <img src="{{ url_for('static', filename='img/profile-img.jpg') }}" alt="Profile">
                        <div class="pt-2">
                          <input type="file" name="photo" class="form-control" accept="image/*">
                        </div>
                      </div>
                    </div>
            
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="name" type="text" class="form-control" id="fullName" value="{{ user.name }}" required>
                      </div>
                    </div>
            
                    <div class="row mb-3">
                      <label for="gender" class="col-md-4 col-lg-3 col-form-label">Gender</label>
                      <div class="col-md-8 col-lg-9">
                        <select name="gender" class="form-control" id="gender" required>
                          <option value="Male" {% if user.gender == 'Male' %}selected{% endif %}>Male</option>
                          <option value="Female" {% if user.gender == 'Female' %}selected{% endif %}>Female</option>
                        </select>
                      </div>
                    </div>
            
                    <div class="row mb-3">
                      <label for="telephone" class="col-md-4 col-lg-3 col-form-label">Telephone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="telephone" type="text" class="form-control" id="telephone" value="{{ user.telephone }}" required>
                      </div>
                    </div>
            
                    <div class="row mb-3">
                      <label for="location" class="col-md-4 col-lg-3 col-form-label">Location</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="location" type="text" class="form-control" id="location" value="{{ user.location }}" required>
                      </div>
                    </div>
            
                    <div class="row mb-3">
                      <label for="group_name" class="col-md-4 col-lg-3 col-form-label">Group Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="group_name" type="text" class="form-control" id="group_name" value="{{ user.group_name }}">
                      </div>
                    </div>
            
                    <div class="row mb-3">
                      <label for="land_size" class="col-md-4 col-lg-3 col-form-label">Land Size (acres)</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="land_size" type="number" step="0.01" class="form-control" id="land_size" value="{{ user.land_size }}">
                      </div>
                    </div>
            
                    <div class="row mb-3">
                      <label for="crop" class="col-md-4 col-lg-3 col-form-label">Crop Being Grown</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="crop" type="text" class="form-control" id="crop" value="{{ user.crop }}">
                      </div>
                    </div>
            
                    <div class="row mb-3">
                      <label for="last_yield" class="col-md-4 col-lg-3 col-form-label">Last Yield (tons)</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="last_yield" type="number" step="0.01" class="form-control" id="last_yield" value="{{ user.last_yield }}">
                      </div>
                    </div>
            
                    <div class="row mb-3">
                      <label for="bank_account" class="col-md-4 col-lg-3 col-form-label">Bank Account</label>
                      <div class="col-md-8 col-lg-9">
                        <select name="bank_account" class="form-control" id="bank_account">
                          <option value="True" {% if user.bank_account %}selected{% endif %}>Yes</option>
                          <option value="False" {% if not user.bank_account %}selected{% endif %}>No</option>
                        </select>
                      </div>
                    </div>
            
                    <div class="row mb-3">
                      <label for="date_of_birth" class="col-md-4 col-lg-3 col-form-label">Date of Birth</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="date_of_birth" type="date" class="form-control" id="date_of_birth" value="{{ user.date_of_birth }}">
                      </div>
                    </div>
            
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary"  name="csrf_token" value="{{csrf_token()}}">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Settings Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade" checked>
                          <label class="form-check-label" for="changesMade">
                            Changes made to your account
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="newProducts" checked>
                          <label class="form-check-label" for="newProducts">
                            Information on new products and services
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="proOffers">
                          <label class="form-check-label" for="proOffers">
                            Marketing and promo offers
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                          <label class="form-check-label" for="securityNotify">
                            Security alerts
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End settings Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}